---
layout: page
title: Alumni
permalink: /alumni/
---

{% for member in site.data.alumni.members %}

<div class="row">
    <div class="media card contact-card">
        {% if member.picture_url.size > 0 %}
        <a class="pull-left" href="#">
            <img class="media-object contact-card-image" src="{{ member.picture_url }}"
                 alt="headshot" />
        </a>
        {% endif %}
        <div class="media-body contact-card-body">
            <h4 class="media-heading">{{ member.name }}</h4>
            <p class="">{{ member.current_role }}</p>
            <!--<div class="btn-toolbar card-body-social" role="toolbar">-->
                <!--{% if member.website.size > 0 %}-->
                <!--<a href="{{ member.website }}" target="_blank"><div class="btn-group fa fa-globe website"></div></a>-->
                <!--{% endif %}-->
            <!--</div>-->
        </div>
    </div>
</div>


{% endfor %}