---
layout: default
---

<div class="home">

  <h1 class="page-heading">Principal Investigators</h1>
    {% for member in site.data.members.pi.members %}

      <div class="row">
        <div class="col-md-2">
          <img src="{{ member.picture_url }}" height="{{site.image_height}}" width="{{site.image_width}}" />
        </div>
        <div class="col-md-2">
          {{ member.name }}
          <br/>
          <a href="{{ member.website }}" target="_blank">Website</a>
        </div>
      </div>

      <br/>

    {% endfor %}

  <h2 class="page-heading">PhD Students</h2>
    {% for member in site.data.members.phd.members %}

      <div class="row">
        <div class="col-md-2">
          <img src="{{ member.picture_url }}" height="{{site.image_height}}" width="{{site.image_width}}" />
        </div>
        <div class="col-md-2">
          {{ member.name }}
          <br/>
          <a href="{{ member.website }}" target="_blank">Website</a>
          <br/>
          <a href="https://github.com/{{ member.github_username }}">Github</a>
        </div>
      </div>

      <br/>

    {% endfor %}

  <h2 class="page-heading">Masters Students</h2>
    {% for member in site.data.members.ms.members %}

      <div class="row">
        <div class="col-md-2">
          <img src="{{ member.picture_url }}" height="{{site.image_height}}" width="{{site.image_width}}" />
        </div>
        <div class="col-md-2">
          {{ member.name }}
          <br/>
          <a href="{{ member.website }}" target="_blank">Website</a>
          <br/>
          <a href="https://github.com/{{ member.github_username }}">Github</a>
        </div>
      </div>

      <br/>

    {% endfor %}

  <h2 class="page-heading">Undergraduate Students</h2>
    {% for member in site.data.members.undergrad.members %}

      <div class="row">
        <div class="col-md-2">
          <img src="{{ member.picture_url }}" height="{{site.image_height}}" width="{{site.image_width}}" />
        </div>
        <div class="col-md-2">
          {{ member.name }}
          <br/>
          <a href="{{ member.website }}" target="_blank">Website</a>
          <br/>
          <a href="https://github.com/{{ member.github_username }}">Github</a>
        </div>
      </div>

      <br/>

    {% endfor %}


  <h2 class="page-heading">Visiting Students</h2>
    {% for member in site.data.members.visiting.members %}

      <div class="row">
        <div class="col-md-2">
          <img src="{{ member.picture_url }}" height="{{site.image_height}}" width="{{site.image_width}}" />
        </div>
        <div class="col-md-2">
          {{ member.name }}
          <br/>
          <a href="{{ member.website }}" target="_blank">Website</a>
          <br/>
          <a href="https://github.com/{{ member.github_username }}">Github</a>
        </div>
      </div>

      <br/>

    {% endfor %}

  <h2 class="page-heading">Alumni</h2>
    {% for member in site.data.members.alumni.members %}

      <div class="row">
        <div class="col-md-2">
          <img src="{{ member.picture_url }}" height="{{site.image_height}}" width="{{site.image_width}}" />
        </div>
        <div class="col-md-2">
          {{ member.name }}
          <br/>
          <a href="{{ member.website }}" target="_blank">Website</a>
        </div>
      </div>

      <br/>

    {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
