---
layout: default
---

<div class="home col-md-offset-3">

  {% for group in site.data.members %}
  <h1 class="page-heading">{{ group.name }}</h1>

  {% for member in group.members %}
  <div class="row">
    <div class="media card contact-card">
      <a class="pull-left" href="#">
        <img class="media-object contact-card-image" src="{{ member.picture_url }}"
             alt="headshot" />
      </a>
      <div class="media-body contact-card-body">
        <h4 class="media-heading">{{ member.name }}</h4>
        {% if member.research_interests.size > 0 %}
        <p class="text-lowercase">{{ member.research_interests }}</p>
        {% endif %}

        <hr/>
        <div class="btn-toolbar card-body-social" role="toolbar">
          <a href="{{ member.website }}" target="_blank">
            <div class="btn-group fa fa-globe website"></div>
          </a>
          {% if member.github_username.size > 0 %}
          <a href="https://github.com/{{ member.github_username }}" target="_blank">
            <div class="btn-group fa fa-github-alt git"></div>
          </a>
          {% endif %}
          {% if member.linkedin.size > 0 %}
          <a href="https://www.linkedin.com/in/varagrawal/{{ member.linkedin }}" target="_blank">
            <div class="btn-group linkedin fa fa-linkedin-square"></div>
          </a>
          {% endif %}
        </div>

      </div>
    </div>
  </div>

  <br/>
  {% endfor %}
  {% endfor %}

  <h2 class="page-heading">Alumni</h2>
  {% for member in site.data.alumni.members %}

  <div class="row">
    <div class="media card contact-card">
      <a class="pull-left" href="#">
        <img class="media-object contact-card-image" src="{{ member.picture_url }}"
             alt="headshot" />
      </a>
      <div class="media-body contact-card-body">
        <h4 class="media-heading">{{ member.name }}</h4>
        <p class="">{{ member.current_role }}</p>
        <div class="btn-toolbar card-body-social" role="toolbar">
          <a href="{{ member.website }}" target="_blank"><div class="btn-group fa fa-globe website"></div></a>
        </div>
      </div>
    </div>
  </div>

  <br/>

  {% endfor %}


</div>
