---
layout: page
title: Projects
permalink: /projects/
---

<div class="">

    {% for project in site.data.projects %}
    <div class="row">
        <!-- Card Projects -->
        <div class="col-md-7 col-md-offset-0">
            <div class="card">
                {% if project.image_url.size > 0 %}
                <div class="card-image">
                    <img class="img-responsive" src="{{ project.image_url }}">
                    <!--span class="card-title">Sample Title</span-->
                </div>
                {% endif %}

                <div class="card-content">
                    <h4>{{ project.name }}</h4>
                    <p>{{ project.authors }}</p>
                </div>

                <div class="card-action">
                    <a class="page" href="{{ project.project_page }}" target="new_blank"><i class="fa fa-external-link fa-lg"></i></a>
                    {% if project.paper.size > 0 %}
                    <a class="paper" href="{{ project.paper }}" target="new_blank"><i class="fa fa-file-text fa-lg"></i></a>
                    {% endif %}
                    {% if project.video.size > 0 %}
                    <a class="video" href="{{ project.video }}" target="new_blank"><i class="fa fa-youtube-play fa-lg"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <br/>
    {% endfor %}

</div>